page-login {
    .login-content {
        background: rgba(86, 117, 202, 0.014);
     
        .logo-row {
          padding-top: 10px;
          padding-bottom: 10px;
        }
     
        .login-box {
          background: rgba(15, 247, 177, 0.884);
          padding: 20px 20px 20px 20px;
          margin-top: 20px;
        }
     
        ion-row {
           align-items: center;
           text-align: center;
         }
      
         ion-item {
             border-radius: 5px !important;
             padding-left: 5px !important;
             font-size: 0.9em;
             margin-bottom: 20px;
             border: 1px solid #ffffff;
             border-bottom: 0px !important;
             box-shadow: none !important;
         }
     
         .signup-col {
           margin: -10px;
           padding-bottom: 10px;
           margin-top: -50px;

          }
     
         .item-inner {
           border-bottom-color: #ffffff !important;
           box-shadow: none !important;
         }
     
         .submit-btn {
           background: #f207fa;
           border-radius: 60px !important;
           border: 0px solid #131010;
           font-size: 2em;
           font-weight: bold;  
          }
     
         
         .register-btn {
          background: rgb(241, 244, 245);
           color: #060608;
           font-size: 0.8em;
          
        }
        .forget-btn {
            background: none !important;
            background-color: none !important;
            box-shadow: none !important;
           color: #060608;
           font-size: 1em;
           margin-left: 50%;

        }
      }
}