
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="login-content" padding>
 
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
                <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" required></ion-input> <ion-icon name="ios-contact" color="dark" item-left></ion-icon>
            </ion-item>
            
            <ion-item>
                <ion-input type="password" placeholder="Password"></ion-input> <ion-icon name="ios-lock" color="dark" item-left></ion-icon>
            </ion-item>
            </ion-list>
        </ion-col>
      </ion-row>

      <button ion-button class="submit-btn" style="height: 50px; width: 180px; left: 25; top: 50;" >Login</button>

    </form>

      <ion-row cla>
            <ion-col class="">
            <button  (click)="forgetPassword()" ion-button class="forget-btn">forget password</button>
           <button ion-button class="register-btn" (click)="createAccount()">Create New Account</button>


            <button  (facebook)="facebook()">
         <img src="assets/imgs/new fb.png" style="height: 50px; width: 180px; left: 10; top: 50;">
       </button>
       <button  (google)="google()"> 
        <img src="assets/imgs/g+ with sign.png"  style="height: 50px; width: 180px; left: 25; top: 50;">
        
   </button>
   

  

        

                 </ion-col>
      </ion-row>
      
      
  </div>
</ion-content>


