<!--
  Generated template for the AccountInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>User Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
<li><label> First name: {{firstname}}</label></li>
<li>.......................................</li>
<li><label> Last name:  {{lastname}}</label></li>
<li>.......................................</li>
<li><label> Email: {{email}}</label></li>
<li>.......................................</li>
</ion-list></ion-content>
