<ion-content padding>
    
    <ion-row *ngIf="msg" class="msg">
      {{msg}}
    </ion-row>
    <div class="login-box">
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list class="login-list">
              <ion-icon name="person" class="login-icon-user"></ion-icon>
              <ion-item class="my-item">
                <ion-input name="username" [(ngModel)]="username" type="text" placeholder="Enter Username"  required></ion-input>
              </ion-item>
              <ion-icon name="lock" class="login-icon-pass" ></ion-icon>
              <ion-item class="my-item">
                <ion-input name="password" [(ngModel)]="password" type="password" placeholder="Enter Password"  required></ion-input>
              </ion-item>
              <ion-col  class="forgot-pass" (click)="forget_password()">
                <a class="forget" href="#"> Forgot Password ?</a>
              </ion-col>
              <ion-row>
                  <a class="signup" (click)="create_account()">Sign Up</a>
                  <br>
              </ion-row>
            </ion-list>
            <ion-col col-1>
              <button ion-button class="login-btn form-my-btn" type="submit" [disabled]="!loginForm.form.valid">Login</button>
              <br>
            </ion-col>
          </ion-col>
        </ion-row>
      </form>
  
     
  
      <ion-row>
        <ion-col col-6>
          <button (click)="fbLogin()" ion-button block ion-button icon-left class="form-my-btn facebook">
            <ion-icon name="logo-facebook"></ion-icon>facebook</button>
        </ion-col>
        <ion-col col-6>
          <button (click)="googleLogin()" ion-button block ion-button icon-left class="form-my-btn google">
            <ion-icon name="logo-googleplus"></ion-icon>Google</button>
        </ion-col>
      </ion-row>
  
    </div>
  </ion-content>
  
  