<!--
  Generated template for the NewaccPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create New Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

        <ion-item>
          <ion-label fixed>First Name</ion-label>
        <ion-input [(ngModel)]="firstname" type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>Last Name</ion-label>
            <ion-input  [(ngModel)]="lastname"type="text" value=""required></ion-input>
          </ion-item>
      
          <ion-item>
              <ion-label fixed>Email</ion-label>
              <ion-input [(ngModel)]="email"type="text" value="" required></ion-input>
            </ion-item>
        
        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input [(ngModel)]="password" type="password" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label class="comfirm_Pass_label" fixed>Confirm Password</ion-label>
            <ion-input [(ngModel)]="confirmpassword" type="password" required></ion-input>
          </ion-item>
        </ion-list>
        <ion-col col-12>
            <button (click)="submit()" ion-button class="submit-btn">Submit</button>
            <br>
          </ion-col>
  
        
</ion-content>
 