<!--
  Generated template for the ForgetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forget Password</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

  <ion-item>
    <ion-label color="primary">Email</ion-label>
    <ion-input [(ngModel)]="email" placeholder="Enter your email"></ion-input>
  </ion-item>
  <ion-col col-12>
      <button (click)="submit()" ion-button class="submit-btn">Submit</button>
      <br>
    </ion-col>


</ion-content>
